aiofiles==23.2.1
aiohttp==3.13.3
aiogram==3.24.0
APScheduler==3.11.2
asyncpg==0.31.0
fastapi==0.134.0
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
passlib[bcrypt]==1.7.4
PyJWT[crypto]==2.10.1
python-multipart==0.0.22
psycopg[binary]==3.2.3
redis==7.1.0
slowapi==0.1.9
sqladmin==0.22.0
SQLAlchemy==2.0.45
starlette==0.52.1
starlette-wtf==0.4.5
uvicorn[standard]==0.30.6
pypdf==6.7.4
prometheus-client==0.21.0
