{# Предложение перенести встречу #}
{% import 'blocks/header.j2' as header %}

{{ header.render('🔁', 'Изменение встречи')|safe }}

{% if old_datetime %}
Мы освободили бронирование на {{ old_datetime }}.
{% else %}
Мы освободили ваше бронирование.
{% endif %}

Давайте подберём другое время, которое вам удобно:
